footer{
    min-height: 10vh;
    background-color: #042538;
    color: white;
    font-family: $secondFont;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}