#projects{
    min-height: 100vh;
    background:linear-gradient(#074937,#042538);
    .projects-title{
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $mainFont;
        font-size: 35px;
        color: white;
    
    }
    .project-boxes{
        min-height: 60vh;
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
       
        
       .project-box1,.project-box2,.project-box3{
            background-color: #F9F9F9;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           margin-right: 20px;
           
           p{
               font-family: $secondFont;
               flex: 1;
               display: flex;
               align-items: center;
               justify-content: center;
               padding: 0px 20px;
               font-size: 18px;

           }
           h1{
               display: flex;
               align-items: center;
               justify-content: center;
               flex:1;
               font-family: $mainFont;
               
                
           }
           img{
            width: 100%;
            flex: 1;
           }
       }
       .box1-links,.box2-links,.box3-links{
           align-items: center;
          
           a{
               cursor: pointer;
               opacity: 0.8;
             
           }
           img{
               padding: 10px 0px;
               height: 40px;
               border: none;
           }

       }
    }
}